include components/mixin.jade

doctype html
html(lang='zh-cn')
    head
        meta(charset='utf-8')
        meta(name='viewport', content="width=375, initial-scale=1, maximum-scale=1")

        +lib("underscore.js")
        +lib("zepto.js")
        +lib("prettify.js")
        +require("Lexer.js")
        +require("Syntax.js")
        +require("Semantic.js")

        +require("main.css")
        +require("main.js")

        title fuck
    body
        include components/input.jade
        include components/output.jade
        include components/syntax.jade
