#input {
  float: left;
  height: 750px;
  width: 20%;
}
#dropbox {
  position: absolute;
  height: 750px;
  width: 32%;
  border: 1px dotted red;
}
#dropbox div {
  line-height: 600px;
  text-align: center;
  font-size: 24px;
  color: red;
}
